html, body, #app{
	height:100%;
	padding:0;
	margin:0;
	min-width: 1366px;

}

.main-card, .el-card{
	margin-top: 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.main-content, .el-table{
	margin-top: 15px;
}

.pagination, .el-pagination{
	margin-top: 15px;
}
